<h3>使用者登入</h3>
<%= form_tag sessions_path do %>
<p>使用者名稱</p>
<p><%= text_field_tag :name, params[:name] %></p>
<p>密碼</p>
<p><%= password_field_tag :password %></p>
<p><%= submit_tag "登入" %>  <%= link_to "取消", root_url %></p>

<% end %>
