<h1>所有訂單</h1>

<table>
	<thead>
		<tr>
			<th>訂單編號</th>
			<th>訂購人</th>
			<th>品項</th>
			<th>時間</th>
			<th>狀態</th>
		</tr>
	</thead>
	<tbody>
		<%= @orders.each do |o| %>
			<tr>
				<td><%= o.id %></td>
				<td><%= o.customer %></td>
				<td><%= @products.find_by_id(o.product_id).title %></td>
				<td><%= o.created_at %></td>
				<td><%= o.status %></td>
			</tr>
		<% end %>
	</tbody>
</table>